<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container">
		<h1>Planes de Marketing</h1>

		<div class="card border-success text-center ">
			<div class="card-header border-success">Planes de Marketing</div>
			<div class="card-body">
				<form th:action="@{'/planDeMarketing/buscar'}" method="get"
					class="form-inline">
					<div class="form-group mx-sm-3 mb-2">
						<input type="text" class="form-control" id="txtId" name="txtId"
							placeholder="Id">
					</div>
					<button type="submit" class="btn btn-primary mb-2">Buscar</button>
				</form>



				<div class="table-responsive">
					<table class="table table-striped">
						<thead class="bg-primary text-white">
							<tr>
								<th scope="col">Id</th>
								<th scope="col">Nombre</th>
								<th scope="col">Descripcion</th>
								<th scope="col">Fecha Inicio</th>
								<th scope="col">Fecha Fin</th>
								<th scope="col" colspan="3">Options</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="cur:${planDeMarketings}">
								<td class="text-center" th:text="${cur.planDeMarketing_id}"></td>
								<td class="text-center" th:text="${cur.name}"></td>
								<td class="text-center" th:text="${cur.descripcion}"></td>
								<td class="text-center" th:text="${cur.fechaInicio}"></td>
								<td class="text-center" th:text="${cur.fechaFin}"></td>
								<td><a
									th:href="@{'/planDeMarketing/' + ${cur.planDeMarketing_id}+ '/campanias'}">Visualizar
										Campañas</a></td>
								<td><a
									th:href="@{'/planDeMarketing/del/' + ${cur.planDeMarketing_id}}">Eliminar</a></td>
								<td><a
									th:href="@{'/planDeMarketing/edit/' + ${cur.planDeMarketing_id}}">Modificar</a></td>

							</tr>
						</tbody>
					</table>
				</div>

			</div>
			<div class="card-footer text-muted border-success">
				<a th:href="@{/planDeMarketing/new/}" class="btn btn-success"> <i
					class="fas fa-file"></i> Nuevo Plan

				</a>
			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>




