<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/></head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container">
		<h1>Marketing</h1>

		<div class="card border-success text-center  ">
			<div class="card-header border-success">
				Lista de campañas del  <span th:text="${planDeMarketing.name}"></span>
			</div>
			<div class="card-body">
				<label></label>

				<div class="table-responsive">
					<table class="table table-striped">
						<thead class="bg-primary text-white">
							<tr>
								<th scope="col">Id</th>
								<th scope="col">Nombre</th>
								<th scope="col">Descripcion</th>
								<th scope="col">Fecha Inicio</th>
								<th scope="col">Fecha Fin</th>
								<th scope="col">Plan de Marketing</th>
								<th scope="col">Equipo</th>
								<th scope="col" colspan="3">Options</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="cur:${campanias}">
								<td class="text-center" th:text="${cur.id}"></td>
								<td class="text-center" th:text="${cur.name}"></td>
								<td class="text-center" th:text="${cur.descripcion}"></td>
								<td class="text-center" th:text="${cur.fechaInicio}"></td>
								<td class="text-center" th:text="${cur.fechaFin}"></td>
								<td></td>

								<td><a
									th:href="@{'/campania/edit/' + ${cur.id}}"
									class="btn btn-info"> <i class="fas fa-edit"></i>
								</a></td>
								<td><a th:href="@{'/campania/del/' + ${cur.id}}"
									class="btn btn-danger"> <i class="fas fa-trash-alt"></i>
								</a></td>
							</tr>
						</tbody>
					</table>
				</div>

			</div>
			<div class="card-footer text-muted border-success">
				<a th:href="@{/campania/new/}" class="btn btn-success">
					<i class="fas fa-file"></i> Nueva Campaña
				</a>
			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>




