<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container">
		<h1>Agregar Estrategia</h1>

		<div class="card border-success text-center ">
			<div class="card-header border-success">Datos Estrategia</div>
			<div class="card-body">

				<form th:action="@{/estrategia/save}" th:object="${estrategia}"
					method="post">
					<div class="form-group row">
						<label for="txtId" class="col-sm-2 col-form-label">Id:</label>
						<div class="col-sm-10">
							<input type="text" class="form-estrategia" id="txtId" name="txtId"
								placeholder="Id" th:value="${estrategia.id}" disabled="disabled">
						</div>
					</div>

					<div class="form-group row">
						<label for="txtName" class="col-sm-2 col-form-label">Nombre:
						</label>
						<div class="col-sm-10">
							<input type="text" class="form-estrategia" id="name" name="name"
								placeholder="Nombre" th:value="${estrategia.name}">
						</div>
					</div>

					<div class="form-group row">
						<label for="txtName" class="col-sm-2 col-form-label">Descripcion:
						</label>
						<div class="col-sm-10">
							<input type="text" class="form-estrategia" id="descripcion"
								name="descripcion" placeholder="Descripcion"
								th:value="${estrategia.descripcion}">
						</div>
					</div>

			




					<div class="form-group row">
						<div class="col-sm-10">
							<button type="submit" class="btn btn-primary">
								<i class="fas fa-save"></i> Grabar
							</button>
							<a th:href="@{/estrategia}" class="btn btn-danger"> <i
								class="fas fa-undo"></i> Cancelar
							</a>
						</div>
					</div>
				</form>

			</div>
			<div class="card-footer text-muted border-success"></div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>