<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container">
		<h1>Areas de Interes</h1>

		<div class="card border-success text-center ">
			<div class="card-header border-success">Areas de Interes</div>
			<div class="card-body">
				<form th:action="@{'/areadeinteres/buscar'}" method="get"
					class="form-inline">
					<div class="form-group mx-sm-3 mb-2">
						<input type="text" class="form-control" id="txtId" name="txtId"
							placeholder="Id">
					</div>
					<button type="submit" class="btn btn-primary mb-2">Buscar</button>
				</form>
				<div class="table-responsive">
					<table class="table table-striped">
						<thead class="bg-primary text-white">
							<tr>
								<th scope="col">Id</th>
								<th scope="col">Nombre</th>
								<th scope="col">Descripcion</th>
								<th scope="col">Activo</th>
								<th scope="col">Planes de marketing</th>

							</tr>
						</thead>
						<tbody>
							<tr th:each="cur:${areadeinteress}">
								<td class="text-center" th:text="${cur.id}"></td>
								<td class="text-center" th:text="${cur.name}"></td>
								<td class="text-center" th:text="${cur.descripcion}"></td>
								<td class="text-center" th:text="${cur.activo}"></td>
								<td class="text-center" th:text="${cur.planesDeMarketing}"></td>
								<td><a th:href="@{'/areadeinteres/del/' + ${cur.id}}">Eliminar</a></td>
								<td><a th:href="@{'/areadeinteres/edit/' + ${cur.id}}">Modificar</a></td>

							</tr>
						</tbody>
					</table>
				</div>

			</div>
			<div class="card-footer text-muted border-success">
				<a th:href="@{/areadeinteres/new/}" class="btn btn-success"> <i
					class="fas fa-file"></i> Nueva Area de Interes

				</a>
			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>




